body {
  font-family: Arial, sans-serif;
}

#header {
  text-align: center;
  padding: 20px;
  background-color: #3271dd;
}

#profile {
  text-align: center;
  padding: 20px;
}

#profile p {
  text-align: left;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#resume, #projects {
  margin: 20px;
}

.contact-button {
  /* Styles for the Contact button */
  margin-top: 10px; /* Adjust the margin as needed to position the button */
}

.contact-details {
  /* Styles for the contact details container */
  display: none; /* Hide the contact details by default */
}